mixin webp(src, ext, alt)
    picture
        source(type="image/webp", srcset="img/" + src + '.webp')
        |
        |
        img(src="img/" + src + ext, alt=alt, loading="lazy")

mixin navItem(url, name, active)
    li.nav__item
        a.nav__link(href=url, class={'nav__item--active': active})= name

mixin destinatioItem(city, country, img, ext, alt)
    .destinations__item
        .destinations__img
            +webp(img, ext, alt)
        .destinations__text
            .destinations__city=city
            .destinations__country=country

mixin sliderItem(visible, stars, quote, name, job, src, ext)
    if visible
        .slider__item.active
            .item__content
                .slider__stars
                    +stars(stars)
                q.slider__quote=quote
                .item__name=name
                .item__job=job
            .item__img
                +webp(src, ext, '')
    else
        .slider__item
            .item__content
                .slider__stars
                    +stars(stars)
                q.slider__quote=quote
                .item__name=name
                .item__job=job
            .item__img
                +webp(src, ext, '')


mixin stars(stars)
    while stars > 0
        .slider__star
        - stars--

mixin story(title, text, href, src)
    .story
        .story__img(style="background-image: url(img/" + src + ")")
        h6.story__title=title
        p.story__text=text
        a(href=href).story__link Read more

mixin footerList(title, items)
    .footer__list
        h5.list__title=title
        ul.list
            each item in items
                li.list__item
                    a(href="#")=item